<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Hi</title>
  </head>
  <body>
    <div class="flex mx-auto mt-5" style="max-width: 1280px">
      <%- include('appointments') %>
      <!-- Actions Start -->
      <div class="basis-2/5 p-2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aliquam
        dicta, dolorum rerum recusandae dolores unde odio tempora, ut explicabo,
        debitis at veniam. Unde accusantium commodi cum ducimus illo deleniti.
      </div>
      <!-- Actions End -->
    </div>
  </body>
</html>
